{% extends 'portal/base.html' %}

{% block content %}


<div class="container">
    <div class="row page-header">
        <h3>Production Created Successfully!</h3>
        <small>The production you submitted was added to the database!</small>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-info" href="http://landmfg.com/portal/home">Go Home</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-primary" href="http://landmfg.com/portal/view_production">View Productions</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-success" href="http://landmfg.com/portal/create_production">New Production</a>
        </div>
    </div>
</div>



{% endblock %}
