{% extends "portal/base.html" %}


{% block content %}


<div class="container">
    <div class="row">
        <div class="page-header col-sm-12">
            <h3>Task Created Successfully!</h3>
            <small>The part you submitted was successfully added to the database!</small>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-info" href="http://landmfg.com/portal/home">Go Home</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-primary" href="http://landmfg.com/portal/view_tasks">Go Home</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-success" href="http://landmfg.com/portal/create_task">Create New Task</a>
        </div>
    </div>
</div>


{% endblock %}
