{% extends 'portal/base.html' %}

{% block content %}
{% load portal_tags %}

<style>
    #table {
        position: relative;
        top: 10px; 
    }
</style>

<div class="container">
    <div class="row page-header">
        <h3>View Production</h3>
        <small>This page lists all productions currently in the system.</small>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-primary" href="http://landmfg.com/portal/create_production">New Production</a>
        </div>
    </div>
    
    <div class="row" id="table">
        <div id="table">
               <table class="table table-bordered table-condensed">
                   <th>Name</th>
                   <th>For Part</th>
                   <th>Description</th>
                   <th>Type</th>
                       {% for prod in prod_names %}
                       <tr>
                           <td>{{ prod_names|index:forloop.counter0 }}</td>
                           <td>{{ prod_parts|index:forloop.counter0 }}</td>
                           <td>{{ prod_desc|index:forloop.counter0 }}</td>
                           <td>{{ prod_types|index:forloop.counter0 }}</td>
                       </tr>
                       
                       {% endfor %}
               </table>
           </div>


{% endblock %}
